// =========================================
// Break
// =========================================

.break {
	@include break-color;
}

#break {
	@include break-screens;
	@include break-color;

	.inner {
		@include break-screens--inner;

		p {
			margin: 1em auto;
			color: $transparent-dark-blue;
		}
	}
}

.break-image {
	width: 150px;
	margin: 0 auto;
	margin-bottom: 1em;
	fill: $transparent-dark-blue;
}

#laterBreak {
	margin-top: 1em;
	background-color: rgba(white, 0.35);
}