// =========================================
// Home
// =========================================
html, body, .home {
	height: 100%;
}

.morning { @include morning-color; height: 100%; }
.afternoon { @include afternoon-color; height: 100%; }
.evening { @include evening-color; height: 100%; }
.break-color { @include break-color; height: 100%; }

.icon-bar {
	width: 100%;
	display: block;
	position: absolute;
	padding: 1.5em;
	z-index: 999;
}

.home {
	text-align: center;
	color: white;
	.fill-height {
		display: block;
		height: 100%;
		width: 100%;
		position: fixed;
		overflow: scroll;
		padding: 3em 0;
	}
}

#time {
	margin-bottom: 0.45em;
}

.good-day {
	padding-top: 2.5em;
	p {
		width: 80%;
		margin: 1em auto;
		font-size: 1.15em;
		line-height: 1.5em;
	}
}

#info {
	a {
		color: white;
		text-decoration: none;
	}
}




