// =========================================
// Home
// =========================================
html, body, .home {
	height: 100%;
}

// Standard Colors per Screen

.morning { @include morning-color; height: 100%; }
.afternoon { @include afternoon-color; height: 100%; }
.evening { @include evening-color; height: 100%; }
.break-color { @include break-color; height: 100%; }
.endBreak-color { @include endBreak-color; height: 100%; }
.return-home { @include returnHome-color; height: 100%; }

// SVG Fallbacks
.no-svg .morning {
	background: url('/img/png/morning.png') no-repeat center center fixed; 
}

.no-svg .afternoon {
	background: url('/img/png/afternoon.png') no-repeat center center fixed; 
}

.no-svg .evening {
	background: url('/img/png/evening.png') no-repeat center center fixed; 
}

.no-svg .break-color {
	background: url('/img/png/break-color.png') no-repeat center center fixed; 
}

@mixin break-screens {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
}

@mixin break-screens--inner {
	flex: 0;
	width: 80%;
	padding: 3em 0;
}

// Home Screen Styling

.icon-bar {
	width: 100%;
	display: block;
	position: absolute;
	padding: 1.5em;
	z-index: 999;
}

.home {
	display: block;
	position: absolute;
	text-align: center;
	color: white;
	.fill-height {
		display: block;
		height: 100%;
		width: 100%;
		position: fixed;
		overflow: auto;
		padding: 3em 0;
	}
}

#time {
	margin-bottom: 0.45em;
}

.good-day {
	padding-top: 2.5em;
	p {
		width: 80%;
		margin: 1em auto;
		font-size: 1.15em;
		line-height: 1.5em;
	}
}

#info {
	a {
		color: white;
		text-decoration: none;
	}
}

#return-to-home {
	display: none;
}




