// =========================================
// Return Home
// =========================================

#return-home {
	@include break-screens;
	@include returnHome-color;

	.inner {
		@include break-screens--inner;
		flex: 1;
		-webkit-flex: 1;
     	-ms-flex: 1;

     	.h3 {
     		font-size: 2.95em;
     		line-height: 1.25em;
     		color: $transparent-dark-blue;
     	}

		p {
			margin: 1em auto;
			color: $transparent-dark-blue;
		}
	}
}

#leaving-now {
	margin-top: 1em;
	background-color: rgba(white, 0.35);
}