// =========================================
// Settings
// =========================================

#settings {
	@include break-screens;
	position: relative;
	text-align: left;
	a {
		text-decoration: none;
		&:nth-child(2) { background-color: $yellow; }
		&:nth-child(3) { background-color: lighten($yellow, 5%); }
		&:nth-child(4) { background-color: lighten($yellow, 10%); }
		&:nth-child(5) { background-color: lighten($yellow, 15%); }
		&:nth-child(6) { background-color: lighten($yellow, 20%); }
		div {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}
		p {
			color: darken($transparent-dark-blue, 10%);
		}
		i {
			font-size: 0.75em;
		}
	}
}

.app-header {
	flex: 0 !important;
	height: 100px;
	background-color: darken($yellow, 20%);
	text-align: center;
}

.icon-bar--inner {
	width: 100%;
	display: block;
	position: absolute;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-top: -10px;
	z-index: 999;
}

#clock-display-settings.digital:after {
	content: "Digital";
}

#clock-display-settings.analog:after {
	content: "Analog";
}

#sound-settings.on:after {
	content: "On";
}
#sound-settings.off:after {
	content: "Off";
}
