// =========================================
// Time
// =========================================

.time {
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	text-align: center;
	a {
		text-decoration: none;
		.back {
			padding-left: 2.5em;
		}
		i {
			color: white;
		}
		p {
			color: darken($transparent-dark-blue, 10%);
		}
	}
	.h3 {
		color: darken($transparent-dark-blue, 10%); 
	}
	.h5, .h6 { 
		color: darken($transparent-dark-blue, 10%); 
		margin-top: 1em;
		margin-bottom: 1em;
	}
	p:first-child {
		line-height: 1.5em;
	}
	.button {
		display: block;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}

div.time-selection {
	display: block;
}

.time-selection {
	position: fixed;
	top: 100px;
	bottom: 0;
	overflow: auto;
	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		@include breakpoint($medium) {
			width: 50%;
		}
	}
	.h2 {
		font-size: 3.5em;
	}
	.icon-arrow-left, .icon-arrow-right {
		color: $transparent-dark-blue;
		margin: -5px 0 0;
		font-size: 0.5em;
		padding: 15px;
	}
}

#confirmwork {
	margin-top: 1em;
}






