// =========================================
// Color Palette
// =========================================

// Base Colors
$white    : #fff;
$black    : #202020;

$yellow                  : #FFE06F;
$dark-blue               : #6A7F8D;
$transparent-dark-blue   : rgba(22,56,80,0.6);
$transparent-white       : rgba(255,255,255,0.2);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: white;
}

@mixin morning-color {
	background: url('/img/morning.svg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin afternoon-color {
	background: url('/img/afternoon.svg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin evening-color {
	background: url('/img/evening.svg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin break-color {
	background: url('/img/break.svg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin endBreak-color {
	background: url('/img/endBreak.svg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@mixin returnHome-color {
  background: url('/img/return.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}