// =========================================
// Icons
// =========================================
i {
	display: block;
}

.icon-settings { float: left; }
.icon-close { float: right; }

.icon-settings, .icon-close {
	color: white;
	position: relative;
}

.time-selection i {
	color: white;
	font-size: 0.35em;
	margin-top: 1em;
}

.icon-arrow-left {
	float: left;
}

.icon-arrow-right {
	float: right;
}