// =========================================
// Icons
// =========================================
i {
	display: block;
}

.icon-settings { float: left; }
.icon-close { float: right; }

.icon-settings, .icon-close {
	color: white;
	position: relative;
}